<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fifa.matchexplorer" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Match Explorer</name>
    <description>FIFA World Cup 2026 Match & Roster Explorer</description>
    <author email="dev@fifa.com" href="https://fifa.com">Stitch AI</author>
    <content src="index.html" />
    <access origin="file://*/*" />
    <allow-navigation href="file://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="#fff4f6f8" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="AllowFileAccessFromFileURLs" value="true" />
    <preference name="AllowUniversalAccessFromFileURLs" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <platform name="android">
        <preference name="KeepRunning" value="true" />
    </platform>
</widget>